#border-box {
  width: 200px;
  height: 100px;
  padding: 20px;
  border: 5px solid blue;
  box-sizing: border-box;
  background-color: lightblue;
}

#content-box {
  width: 200px;
  height: 100px;
  padding: 20px;
  border: 5px solid green;
  box-sizing: content-box;
  background-color: lightgreen;
}

#margin-parent {
  border: 1px solid black;
}

#margin-child {
  border: 1px solid red;
  margin: 30px;
}

#auto-margin-parent {
  border: 1px solid black;
  height: 120px;
}

#auto-margin-child {
  border: 1px solid red;
  width: 150px;
  margin: auto;
}

#outline-example {
  outline: 3px dotted purple;
  padding: 10px;
}

#border-example {
  border: 3px solid orange;
  padding: 10px;
}

#radius-example {
  border: 2px solid teal;
  border-radius: 15px;
  padding: 10px;
  width: 120px;
}

#padding-example {
  border: 1px solid gray;
  padding: 25px;
}

#size-example {
  border: 1px solid navy;
  width: 150px;
  height: 80px;
  padding: 10px;
}