body {
  background-color: #f5f5f5;
 
}

header {
  background-color: #1d038f;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0px;
}

.logo img {
  height: 100px;
}

.logo h1 {
  font-size: 48px;
  font-weight: bold;
}

.logo p {
  font-size: 14px;
  margin-top: 5px;
}

.Planly {
  transition: transform 0.3s ease;
}

.Planly:hover {
  transform: scale(1.1);
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
}

#imgUp
{
height: 200px;
}
#whiteBGImage
{
  height: 300px;
}




